[submodule "arc42-template"]
	path = arc42-template
	url = https://github.com/arc42/arc42-template.git
[submodule "req42-framework"]
	path = req42-framework
	url = https://github.com/Hruschka/req42-framework.git
